{% extends 'uav/base.html' %}

{% block uav_body %}
<section class="container my-5">
    <div class="d-flex justify-content-between">
        <h2 class="text-center">{{_("UAV List")}}</h2>
        {% if user.is_superuser %}
        <span class="m-4">
            <a href="{% url 'uav:new' %}" class="btn btn-primary btn-lg" type="button">
                <i class="fa-solid fa-circle-plus"></i>
                {{_("New UAV")}}
            </a>
        </span>
        {% endif %}
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                {% include "uav/components/uav-datatable.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock uav_body %}